<% include head %>
<h2>make a new category</h2>
<form action ="/designistforum/category/" method="POST">
<input style = "width: 250px;" type="text" name="title" placeholder="category title" required><br><br>
<textarea name="descrp" style="margin: 0px; max-height: 350px; max-width: 312px;height: 250px;width: 250px;" required> brief description </textarea>   <br><br>
<button>Submit</button><br><br>
</form>

<a style="font-family: monospace;" href="/">Back to Designist Forum</a><br><br>
</body>
</html>