<% include head %>
<h2>become an official registered user</h2>
<img src="http://i.imgur.com/5W7Fb1K.jpg" />
<form action ="/designistforum/user/" method="POST">
<input style = "width: 250px;" type="text" name="username" placeholder="username" required><br><br>
<input style = "width: 250px;" type="text" name="password" placeholder="password" required><br><br>
<input style = "width: 250px;" type="text" name="email" placeholder="email" required><br><br>

<button>Submit</button><br><br>
</form>
</body>
</html>